@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  h1 {
    @apply text-3xl font-bold;
  }
  h3 {
    @apply text-xl font-semibold;
  }
}

html::-webkit-scrollbar {
  width: 8px;
}
html::-moz-scrollbar {
  display: none;
}

html::-webkit-scrollbar-track {
  background-color: rgba(255, 255, 255, 0.4);
}

html::-webkit-scrollbar-thumb {
  background-color: rgba(0, 0, 0, 0.6);
  border-radius: 10px;
}
html::-webkit-scrollbar-thumb:hover {
  background-color: rgba(0, 0, 0, 0.8);
}
